#body {
    background-color: #616161;
}

#search {
    background-image: url('./searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 97.5%; /* Full-width */
    background-color: #1d1d1d;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid rgb(82, 82, 82); /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(212, 212, 212);
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li {
    border: 1px solid rgb(82, 82, 82); /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #1d1d1d; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: rgb(212, 212, 212); /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    font-family: Arial, Helvetica, sans-serif;
}

#myUL li:hover:not(.header) {
    background-color: rgb(80, 80, 80); /* Add a hover effect to all links, except for headers */
}